/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

body {
  margin: 0;
  background: #444;
  font-family: "Poppins";
}
li,
ul {
  list-style-type: none;
  padding: 0;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 56, 56);
  position: relative;
}
.title {
  margin-right: 2%;
  color: white;
}
.burger {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  cursor: pointer;
}
.line {
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 3px;
  margin: 2px;
}

.nav-links {
  background: rgb(56, 56, 56);
  position: absolute;
  height: 92vh;
  top: 8vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
  width: 20%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0%);
}

/* .navlinks ul {
  background-color: aquamarine;
} */

.nav-links ul a {
  color: white;
  margin-top: 5%;
  margin-left: 45px;
}
